version: '3.8'
services:
  spring-boot-test-api:
    build: .
    container_name: spring-boot-test-api
    ports:
      - "8050:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=${ACTIVE_PROFILE:-}
    volumes:
      - ./logs:/app/logs
      - ./heapdumps:/app/heapdumps